<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, users-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div align="center"></div>
<a th:href="@{/newTodow}">
    <button>Add Todo</button>
</a>
    <h1 th:if="${#lists.isEmpty(listTodo)}">No todo yet!</h1>
    <div th:if="${not #lists.isEmpty(listTodo)}">
        <h1>Todo</h1>
        <table border="1" >
            <thead class="thead-dark">
            <tr>
                <h2 th:text="'User:' + ${listTodo[0].username}"></h2>


                <th>Id</th>
                <th>Content</th>
                <th>Check</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="todo,iter : ${listTodo}">
                <td th:text="${iter.index + 1}">  </td>
                <td th:text="${todo.content}"></td>
                <td><input type="checkbox"></td>
                <td>
                    <a th:href="@{/deleteTodo/} + ${todo.id}">
                        <button>Delete</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/editTodo/} + ${todo.id}">
                        <button>Edit</button>
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
<a href="/login">Click here to logout</a>

</div>
</body>
</html>